.form {

    padding: 20px;
    margin: 20px;
    border: 1px solid gray;
    border-radius: 5px;
}

.form>input {
    box-sizing: border-box;
    width: 90%;
    padding: 8px;
    margin: 10px;
}

.form>button {
    margin-left: 10px;
    width: 90%;
    box-sizing: border-box;
}

.btn {
    padding: 8px 10px;
    border-radius: 5px;
    background: #387deb;
    border: none;
}

input::placeholder {
    color: rgb(255, 255, 255);
    /* apna color */
    opacity: 1;
    /* default me thoda fade hota hai */
}